In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [10]:
df = pd.read_csv("../data/cs-training.csv", index_col = 0)
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [27]:
df0 = pd.read_csv("../data/x_test.csv", index_col = 0)
df0.sort_index().head(50
                     )

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,EstimatedCreditLine,AverageIncomeUntilApp
1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,7323.197016,9120.000000
4,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,118.963951,4515.500000
27,0.052436,58,0,0.097672,8333.0,22,0,1,0,0.0,813.902326,8850.208333
28,0.034421,69,0,0.042383,2500.0,17,0,0,0,1.0,105.957617,8596.200000
36,0.000000,64,0,0.073539,11000.0,9,0,1,0,0.0,808.926459,7780.781250
40,0.304491,52,0,0.808340,3500.0,10,0,2,0,0.0,2829.191659,7246.805556
45,0.368876,68,0,1687.500000,1.0,31,0,1,0,0.0,1687.500000,6987.425000
50,0.000080,70,0,0.256340,6900.0,21,1,1,0,0.0,1768.743661,7139.266667
61,0.651603,58,0,0.241136,7783.0,11,0,1,0,0.0,1876.758865,6960.240741
70,0.269484,64,0,0.161062,9455.0,13,0,1,0,3.0,1522.838941,6660.338710
71,0.265898,36,0,0.262612,8384.0,6,0,2,0,1.0,2201.737390,6687.698413
80,0.270523,41,0,2.797699,1042.0,11,0,2,0,2.0,2915.202301,6659.042254
102,0.019388,34,0,0.325919,4000.0,9,0,1,0,0.0,1303.674080,6474.670455
103,0.634485,52,0,0.138239,2690.0,2,0,0,0,0.0,371.861761,6432.146067
106,0.114831,46,0,0.026236,6250.0,6,0,0,0,3.0,163.973762,6434.260870
113,0.186988,52,0,0.023993,3500.0,4,0,0,0,0.0,83.976008,6414.887755
118,0.033462,44,0,1.243363,4067.0,5,0,2,0,1.0,5056.756638,6431.598039
120,0.015272,68,0,0.122904,8168.0,6,0,0,0,0.0,1003.877095,6448.456311
121,0.517121,31,0,0.123752,500.0,3,0,0,0,0.0,61.876248,6391.259615
124,0.444838,58,0,0.366545,14000.0,9,0,2,1,4.0,5131.633458,6423.700935
129,0.151913,36,0,0.266394,12000.0,22,0,2,0,0.0,3196.733604,6531.810811
134,0.163037,81,0,0.086483,2751.0,7,0,0,0,1.0,237.913517,6415.930435
135,0.047312,51,0,0.100920,3150.0,5,0,0,0,0.0,317.899080,6387.775862
143,0.243872,53,0,0.534028,8639.0,22,0,2,0,3.0,4613.465974,6390.804878
146,1.000000,38,0,0.433700,5821.0,7,0,1,0,4.0,2524.566303,6365.520000
149,0.546999,50,0,0.748072,3500.0,9,0,2,0,3.0,2618.251927,6372.085938
150,0.072277,34,0,0.025912,2083.0,2,0,0,0,0.0,53.974088,6338.837209
156,0.012682,60,0,0.412980,6825.0,20,0,2,0,0.0,2818.587019,6279.881481
157,0.121557,58,0,0.342971,12000.0,23,0,2,0,4.0,4115.657028,6321.941176
159,0.147712,40,0,0.034848,6800.0,6,0,0,0,3.0,236.965149,6302.057971
163,1.046279,47,1,1.104301,5416.0,6,0,2,0,1.0,5980.895700,6275.550000
164,0.323720,63,0,0.610841,5146.0,9,0,2,0,2.0,3143.389160,6267.539007
166,0.637736,54,2,3.382196,1875.0,9,0,2,0,0.0,6341.617804,6241.356643
169,0.170103,36,0,0.138462,7734.0,8,0,0,0,0.0,1070.861535,6208.613793
173,0.166533,53,0,0.543626,7506.0,11,0,3,0,3.0,4080.456373,6197.668919
175,0.135280,58,0,0.342005,9455.0,11,0,2,0,2.0,3233.657994,6206.066667
177,1.000000,69,0,0.005319,2255.0,0,1,0,0,3.0,11.994681,6172.138158
187,0.786485,44,0,0.291710,3883.0,7,2,0,2,1.0,1132.708291,6133.955975
191,0.043032,64,0,0.332016,6833.0,14,0,2,0,0.0,2268.667986,6186.000000
195,0.101430,80,1,0.016197,5000.0,9,0,0,0,0.0,80.983805,6144.739394
203,0.078739,46,0,0.166215,4800.0,6,0,1,0,4.0,797.833786,6171.215116
204,0.137609,49,0,0.429534,7272.0,11,0,2,0,0.0,3123.570463,6177.578035
209,0.046640,92,1,0.034327,2650.0,13,0,0,0,0.0,90.965673,6193.242938
214,1.000000,62,0,0.049658,6000.0,1,0,0,0,0.0,297.950340,6253.541436
218,0.222696,42,0,800.000000,1.0,3,0,1,0,2.0,800.000000,6197.224044
222,0.333061,52,3,0.700153,5215.0,15,0,2,1,0.0,3651.299845,6183.545455
226,0.080288,37,0,0.322446,6000.0,7,0,1,0,0.0,1934.677554,6196.089005
231,0.000000,76,0,0.002466,7704.0,3,0,0,0,0.0,18.997532,6189.352041
234,0.034833,67,0,0.460246,12916.0,9,0,2,0,0.0,5944.539751,6188.587940
235,0.787522,52,0,0.353860,4416.0,12,0,0,0,1.0,1562.646140,6179.725000

In [5]:
df = df.loc[df["DebtRatio"] <= df["DebtRatio"].quantile(0.975)]
df = df.loc[(df["RevolvingUtilizationOfUnsecuredLines"] < 13)]
df = df.loc[df["NumberOfTimes90DaysLate"] <= 17]

In [6]:
    dependents_mode = df["NumberOfDependents"].mode()[0] # impute with mode
    df["NumberOfDependents"] = df["NumberOfDependents"].fillna(dependents_mode)

    income_median = df["MonthlyIncome"].median()
    df["MonthlyIncome"] = df["MonthlyIncome"].fillna(income_median)

In [7]:
df.isna().sum()

SeriousDlqin2yrs                        0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
dtype: int64

In [8]:
df["EstimatedCreditLine"] = df["DebtRatio"] * df["MonthlyIncome"]
df[["DebtRatio", "MonthlyIncome", "EstimatedCreditLine"]].head(10)

    DebtRatio  MonthlyIncome  EstimatedCreditLine
1    0.802982         9120.0          7323.197016
2    0.121876         2600.0           316.878123
3    0.085113         3042.0           258.914887
4    0.036050         3300.0           118.963951
5    0.024926        63588.0          1584.975094
6    0.375607         3500.0          1314.624392
8    0.209940         3500.0           734.790059
9   46.000000         5400.0        248400.000000
10   0.606291        23684.0         14359.393699
11   0.309476         2500.0           773.690525

In [9]:
df["AverageIncomeUntilApp"] = df["MonthlyIncome"].expanding().mean()
df[["MonthlyIncome", "AverageIncomeUntilApp"]]

        MonthlyIncome  AverageIncomeUntilApp
1              9120.0            9120.000000
2              2600.0            5860.000000
3              3042.0            4920.666667
4              3300.0            4515.500000
5             63588.0           16330.000000
...               ...                    ...
149995         3400.0            6454.247347
149996         2100.0            6454.217472
149997         5584.0            6454.211502
149999         5716.0            6454.206437
150000         8158.0            6454.218126

[145755 rows x 2 columns]

In [10]:
X = df.iloc[:, 1:]
Y = df.iloc[:, 0]
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)
x_test.shape

(36439, 12)

In [11]:
params = {
        "max_depth": 6,
        "random_state": 42,
        "n_estimators": 100
        }
model = RandomForestClassifier(**params)
model.fit(x_train.values, y_train.values)

RandomForestClassifier(max_depth=6, random_state=42)

In [12]:
pred = model.predict_proba(x_test)

In [ ]:
pred[:,1]

In [22]:
df2 = pd.read_csv("../data/preprocessed.csv", index_col = 0)
df2.head(20)

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,EstimatedCreditLine,AverageIncomeUntilApp
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,7323.197016,9120.000000
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,316.878123,5860.000000
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,258.914887,4920.666667
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,118.963951,4515.500000
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,1584.975094,16330.000000
6,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0,1314.624392,14191.666667
8,0,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0,734.790059,12664.285714
10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0,14359.393699,14041.750000
11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0,773.690525,12759.333333
12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0,3455.468469,12133.500000
13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0,3715.701650,12162.636364
14,1,0.964673,40,3,0.382965,13700.0,9,3,1,1,2.0,5246.617034,12290.750000
15,0,0.019657,76,0,477.000000,0.0,6,0,1,0,0.0,0.000000,11345.307692
16,0,0.548458,64,0,0.209892,11362.0,7,0,1,0,2.0,2384.790109,11346.500000
18,0,0.166284,53,0,0.188274,8800.0,7,0,0,0,0.0,1656.811728,11176.733333
19,0,0.221813,43,0,0.527888,3280.0,7,0,1,0,2.0,1731.472112,10683.187500
20,0,0.602794,25,0,0.065868,333.0,2,0,0,0,0.0,21.934132,10074.352941
21,0,0.200923,43,0,0.430046,12300.0,10,0,2,0,0.0,5289.569957,10198.000000
22,1,0.025656,38,0,0.475841,3000.0,7,0,1,0,2.0,1427.524158,9819.157895
23,0,1.000000,39,0,0.241104,2500.0,4,0,0,0,0.0,602.758897,9453.200000

In [30]:
data = df.loc[1].values
print(data)

[1.00000000e+00 7.66126609e-01 4.50000000e+01 2.00000000e+00
 8.02982129e-01 9.12000000e+03 1.30000000e+01 0.00000000e+00
 6.00000000e+00 0.00000000e+00 2.00000000e+00 7.32319702e+03
 9.12000000e+03]